<ion-view view-title="Register">
  <ion-content scroll="false">
    <div style="margin: 0 auto; text-align: center; padding: 2rem;">
      <img src="img/logo.png" style="width:9rem">
      <h1 style="font-weight: bold;">タスケ</h1>
    </div>
    <div>
      <label class="item item-input item-floating-label">
        <span class="input-label">E-mail</span>
        <input type="text" placeholder="E-mail" ng-model="user.email">
      </label>
      <md-button class="md-raised button icon-right ion-chevron-right button-calm" style="width: 96%; height: 3rem; padding: 0.5rem; text-align: center;" ng-click="moveNext();">Continue</md-button>
    </div>

  </ion-content>
</ion-view>
